#button{
    width: 150px;
    height: 30px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left:3%;
    margin-top: 3%;
}

#input1,
#input2{
    width:20%;
    height: 30px;
}