$title-font: 'Jost',sans-serif;

@mixin h1-font{
    font-family:$title-font;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
}

@mixin title-font{
    font-family:$title-font;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

@mixin text-font{
    font-family:$title-font;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}

.basket__card{
    display: flex;
}
.basket__title{
    @include h1-font;
}

.basket__img{
    width:300px;
}

.basket__text-container__title{
    @include title-font;
}

.basket__text-container__text{
    @include text-font;
}

.basket__btns-wrapper{
    display: flex;
    justify-content: space-around;
    gap:30px;
    margin-top: 5%;
}

#basket__sales-btn{
    @include text-font;
    height: 80px;
}

.basket__total{
    @include text-font;
}

#basket__result{
    @include text-font;
    margin-top: 30px;
}

#basket__total-price{
    @include text-font;
}